/* src/BestSellers.css */
.best-sellers {
    padding: 20px;
  }
  
  .best-sellers h2 {
    font-size: 42px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    overflow: hidden;
    position: relative;
  }
  
  .product-card img {
    width: 100%;
    height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.2);
  }
  .product-info {
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .product-info h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .price {
    font-size: 16px;
    color: #333;
  }
  
  .price .original-price {
    text-decoration: line-through;
    margin-left: 10px;
    color: #777;
  }
  
  .price .discount {
    margin-left: 10px;
    color: #e53935;
  }
  
  .rating {
    font-size: 14px;
    color: #fbc02d;
    margin-top: 5px;
  }
  
  .tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e53935;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  } 
  .button{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-around;
  }
  

  .button:hover {
    background-color: #e74c3c;
    color: rgb(232, 230, 230);
  }